{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="content article prose max-w-4xl text-lg mt-8 mb-8">
        {{ page.content|raw }}
    </div>

    <!-- Related Articles Section -->
    {% include 'partials/related-articles.html.twig' %}
{% endblock %}

