<footer class="bg-gray-900 mt-20" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-7xl px-6 pb-8 pt-20 sm:pt-24 lg:px-8">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <div class="space-y-8">
                <img src="{{ url('theme://images/logo/anita-posch-logo-white.png') }}"
                     alt="Anita Posch Logo"
                     class="w-24">
                <p class="text-sm leading-6 text-gray-300">Anita Posch focuses on how Bitcoin and decentralized technology provide financial freedom, privacy and human rights protection for those who need it most. She is an author, founder of Bitcoin for Fairness and expert on Bitcoin adoption in Africa.</p>
                <div class="flex space-x-6">
                    <a href="https://njump.me/npub1tjkc9jycaenqzdc3j3wkslmaj4ylv3dqzxzx0khz7h38f3vc6mls4ys9w3" class="text-gray-500 hover:text-gray-400">
                        <span class="sr-only">Follow on Nostr</span>
                        <svg class="h-6 w-6" width="32" height="32" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M32 13.9472V30.8467C32 31.4822 31.4881 31.998 30.8572 31.998H17.1438C16.5129 31.998 16.001 31.4822 16.001 30.8467V27.6995C16.0635 23.8416 16.4686 20.1462 17.3191 18.465C17.8291 17.4538 18.6695 16.9036 19.6349 16.6091C21.459 16.0569 24.6596 16.4345 26.018 16.3695C26.018 16.3695 30.1216 16.534 30.1216 14.1929C30.1216 12.3086 28.2875 12.4569 28.2875 12.4569C26.2659 12.5096 24.7261 12.3716 23.7284 11.9756C22.0576 11.3137 22.0011 10.0995 21.9951 9.6934C21.9125 5.00305 15.0477 4.44061 8.99918 5.60406C2.38635 6.87107 9.07174 16.4203 9.07174 29.1675V30.869C9.05965 31.4944 8.55779 32 7.93299 32H1.14278C0.511935 32 0 31.4843 0 30.8487V1.62031C0 0.984772 0.511935 0.469036 1.14278 0.469036H7.52585C8.1567 0.469036 8.66864 0.984772 8.66864 1.62031C8.66864 2.56447 9.72274 3.09036 10.4846 2.5401C12.7802 0.883249 15.7269 0 19.0242 0C26.411 0 31.996 4.33706 31.996 13.9472H32ZM19.7377 10.5178C19.7377 9.15736 18.6433 8.05482 17.2929 8.05482C15.9426 8.05482 14.8481 9.15736 14.8481 10.5178C14.8481 11.8782 15.9426 12.9807 17.2929 12.9807C18.6433 12.9807 19.7377 11.8782 19.7377 10.5178Z"  clip-rule="evenodd"/>
                        </svg>
                    </a>
                      <a href="https://youtube.com/AnitaPosch" class="text-gray-500 hover:text-gray-400">
                        <span class="sr-only">Follow on YouTube</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd" d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z" clip-rule="evenodd" />
                        </svg>
                    </a>
                    <a href="https://x.com/AnitaPosch" class="text-gray-500 hover:text-gray-400">
                        <span class="sr-only">Follow on X</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M13.6823 10.6218L20.2391 3H18.6854L12.9921 9.61788L8.44486 3H3.2002L10.0765 13.0074L3.2002 21H4.75404L10.7663 14.0113L15.5685 21H20.8131L13.6819 10.6218H13.6823ZM11.5541 13.0956L10.8574 12.0991L5.31391 4.16971H7.70053L12.1742 10.5689L12.8709 11.5655L18.6861 19.8835H16.2995L11.5541 13.096V13.0956Z" />
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/in/anitaposch/" class="text-gray-500 hover:text-gray-400">
                        <span class="sr-only">Follow on LinkedIn</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2857 0H1.70893C0.766071 0 0 0.776786 0 1.73036V22.2696C0 23.2232 0.766071 24 1.70893 24H22.2857C23.2286 24 24 23.2232 24 22.2696V1.73036C24 0.776786 23.2286 0 22.2857 0ZM7.25357 20.5714H3.69643V9.11786H7.25893V20.5714H7.25357ZM5.475 7.55357C4.33393 7.55357 3.4125 6.62679 3.4125 5.49107C3.4125 4.35536 4.33393 3.42857 5.475 3.42857C6.61071 3.42857 7.5375 4.35536 7.5375 5.49107C7.5375 6.63214 6.61607 7.55357 5.475 7.55357ZM20.5875 20.5714H17.0304V15C17.0304 13.6714 17.0036 11.9625 15.1821 11.9625C13.3286 11.9625 13.0446 13.4089 13.0446 14.9036V20.5714H9.4875V9.11786H12.9V10.6821H12.9482C13.425 9.78214 14.5875 8.83393 16.3179 8.83393C19.9179 8.83393 20.5875 11.2071 20.5875 14.2929V20.5714Z" /></svg>
                    </a>
                    <a href="https://github.com/anitaposch" class="text-gray-500 hover:text-gray-400">
                        <span class="sr-only">Follow on GitHub</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                        </svg>
                    </a>
                  
                </div>
            </div>
            <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                <div class="md:grid md:grid-cols-2 md:gap-8">
                     <div>
                      {#   <h3 class="text-sm font-semibold leading-6 text-white">Anita Posch</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <li>
                                <a href="/about" class="text-sm leading-6 text-gray-300 hover:text-white">About</a>
                            </li>
                            <li>
                                <a href="/blog" class="text-sm leading-6 text-gray-300 hover:text-white">Blog</a>
                            </li>
                            <li>
                                <a href="/about#social-media" class="text-sm leading-6 text-gray-300 hover:text-white">Social Media</a>
                            </li>
                            <li>
                                <a href="feed.rss" class="text-sm leading-6 text-gray-300 hover:text-white">RSS Feed</a>
                            </li>
                        </ul> #}
                    </div>
                    <div class="mt-10 md:mt-0">
                        
                        <h3 class="text-sm font-semibold leading-6 text-white">Anita Posch</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <li>
                                <a href="/about" class="text-sm leading-6 text-gray-300 hover:text-white">About</a>
                            </li>
                            <li>
                                <a href="/blog" class="text-sm leading-6 text-gray-300 hover:text-white">Blog</a>
                            </li>
                            <li>
                                <a href="/about#social-media" class="text-sm leading-6 text-gray-300 hover:text-white">Social Media</a>
                            </li>
                            <li>
                                <a href="feed.rss" class="text-sm leading-6 text-gray-300 hover:text-white">RSS Feed</a>
                            </li>
                        </ul>
                       
                    </div> 
                </div>
                <div class="md:grid md:grid-cols-2 md:gap-8">
                    <div>
                      {# <h3 class="text-sm font-semibold leading-6 text-white">THIS Company</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <li>
                                <a href="/contact" class="text-sm leading-6 text-gray-300 hover:text-white">Contact</a>
                            </li>
                            <li>
                                <a href="/privacy" class="text-sm leading-6 text-gray-300 hover:text-white">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="/legal" class="text-sm leading-6 text-gray-300 hover:text-white">Legal Notice</a>
                            </li>
                        </ul>#}
                    </div>
                    <div class="mt-10 md:mt-0">
                        <h3 class="text-sm font-semibold leading-6 text-white">Company</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <li>
                                <a href="/contact" class="text-sm leading-6 text-gray-300 hover:text-white">Contact</a>
                            </li>
                            <li>
                                <a href="/privacy" class="text-sm leading-6 text-gray-300 hover:text-white">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="/legal" class="text-sm leading-6 text-gray-300 hover:text-white">Legal Notice</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-8 border-t border-white/10 pt-8 lg:mt-12">
            <p class="text-xs leading-5 text-gray-400">&copy; {{ time()|date("Y") }} | {{ theme_var('company_name') }}</p>
        </div>
    </div>
</footer>
