<div class="bg-white pt-8 pb-8 sm:py-8">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 prose">
        <h4 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Do you want to learn more about Bitcoin?</h4>
        <blockquote>
            <ul>
                <li>
                    <p>Subscribe to my weekly newsletter: <a href="https://anita.link/news">The Orange Journal</a></p>
                </li>
                <li>
                    <p>Join my Bitcoin learning platform <a href="https://cracktheorange.com">Crack The Orange</a> and I'll give you all the tools and knowledge you need to use Bitcoin in a secure way.</p>
                </li>
                <li>
                    <p>Read my book <a href="https://learnbitcoin.link/">(L)EARN BITCOIN</a></p>
                </li>
            </ul>
        </blockquote>
    </div>
</div>