{% set logo = theme_var('logo') %}

<a class="h-full" href="{{ home_url }}" >
    {% if logo %}
        {% if logo is iterable %}
            {% set logo_path = (logo|first).path %}
        {% else %}
            {% set logo_path = logo %}
        {% endif %}
        {% set src = base_url ~ '/' ~ logo_path %}
    {% else %}
        {% set src = url('theme://images/grav-logo.png') %}
    {% endif %}

    <img class="{{ class }}" src="{{ src }}" alt="{{ site.title }}" />
</a>