<div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <div class="max-w-4xl">
            <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Bitcoin for Fairness<a id="bff"></a></h2>
            <p class="mt-6 text-balance text-xl/8 text-gray-700">Early 2022 Anita Posch founded Bitcoin for Fairness, a non-profit initiative focusing on capacity building in the Global South.</p>
        </div>
        <section class="mt-20 grid grid-cols-1 lg:grid-cols-2 lg:gap-x-8 lg:gap-y-16">
            <div class="lg:pr-8">
                <h2 class="text-pretty text-2xl font-semibold tracking-tight text-gray-900">Mission - Make Freedom Go Up</h2>
                <p class="mt-6 mb-6 text-base/7 text-gray-600">Bitcoin for Fairness is raising knowledge and understanding of Bitcoin in emerging countries. We connect and boost the profile of local stakeholders, identify and work with educators on the ground to expand Bitcoin adoption locally and Bitcoin awareness globally.</p>
                <h2 class="text-pretty text-2xl font-semibold tracking-tight text-gray-900">Our Impact</h2>
                <p class="mt-8 mb-6 text-base/7 text-gray-600">Together, we're making a big difference, helping everyone understand and use Bitcoin for a better future.</p>
                <a href="https://bffbtc.org/" target="_blank" class="flex-none rounded-md bg-blue-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">More about BFF...</a>
            </div>
            
            <div class="pt-16 lg:row-span-2 lg:-mr-16 xl:mr-auto">
                <div class="-mx-8 grid grid-cols-2 gap-4 sm:-mx-16 sm:grid-cols-4 lg:mx-0 lg:grid-cols-2 lg:gap-4 xl:gap-8">
                    <div class="aspect-square overflow-hidden rounded-xl shadow-xl outline outline-1 -outline-offset-1 outline-black/10">
                        {{ page.media['_HW-Workshop-Ekasi.jpg'].html('Hardware Wallet Workshop at Bitcoin Ekasi', 'Hardware Wallet Workshop at Bitcoin Ekasi', 'block size-full object-cover')|raw }}
                    </div>
                    <div class="aspect-square overflow-hidden rounded-xl shadow-xl outline outline-1 -outline-offset-1 outline-black/10">
                        {{ page.media['_LN-Workshop-Zambia.png'].html('Lightning Workshop in Lusaka, Zambia', 'Lightning Workshop in Lusaka, Zambia', 'block size-full object-cover')|raw }}
                    </div>
                    {#
                    <div class="aspect-square overflow-hidden rounded-xl shadow-xl outline outline-1 -outline-offset-1 outline-black/10">
                        {{ page.media['_meetup-Lusaka-2.jpg'].html('Meetup Lusaka, Zambia', 'Meetup in Lusaka, Zambia', 'block size-full object-cover')|raw }}
                    </div>
                    <div class="aspect-square overflow-hidden rounded-xl shadow-xl outline outline-1 -outline-offset-1 outline-black/10">
                        {{ page.media['_meetup-Lusaka-2.jpg'].html('Meetup Lusaka, Zambia', 'Meetup in Lusaka, Zambia', 'block size-full object-cover')|raw }}
                    </div>
                    #}
                </div>
            </div>
           {#
           <div class="max-lg:mt-16 lg:col-span-1">
            <h2 class="text-pretty text-2xl font-semibold tracking-tight text-gray-900">Donate</h2>
                <p class="mt-6 mb-6 text-base/7 text-gray-600">We are an independent initiative funded by donations only, if you like what we do, please consider supporting us with a bitcoin donation:</p>
                <a href="https://bffbtc.org/donate" target="_blank" class="flex-none rounded-md bg-blue-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Donate to BFF here</a>
            </div> 
            #}
        </section>
    </div>
</div>
