<div class="bg-white pt-20 sm:pt-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-pretty text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl">Featured Articles</h2>
        </div>
        <dl class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-6 text-lg sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            <div>
                <dt class="font-semibold text-gray-900">Human Rights</dt>
                <dd class="mt-1 text-gray-600 prose text-lg">
                    <ul>
                     <li><a href="bitcoin-and-human-rights">Bitcoin and Human Rights - Why Bitcoin is a crucial tool for the civil society</a></li>
                     <li><a href="bitcoin-enforces-human-rights">Opposing The Corruptible Fiat System, Bitcoin Enforces Universal Human Rights</a></li>
                     </ul>
                </dd>
            </div>
            <div>
                <dt class="font-semibold text-gray-900">Freedom Tech</dt>
                <dd class="mt-1 text-gray-600 prose text-lg">
                    <ul>
                        <li><a href="bitcoinmagazine-oslo-freedom-forum-22">Is Bitcoin Compatible With Democracy?</a></li>
                        <li><a href="podcast-bitcoin-humanitarian-case-169">The Humanitarian Case for Bitcoin, Pt. 1 - Ep. 169</a></li>
                        <li><a href="bitcoin-mobile-systems">Bitcoin on Your Phone - Alternatives to IOS and Android</a></li>
                    </ul>
                </dd>
            </div>
            <div>
                <dt class="font-semibold text-gray-900">Commentary</dt>
                <dd class="mt-1 text-gray-600 prose text-lg">
                 <ul>
                    <li><a href="bitcoin-el-salvador">Government-imposed Bitcoin adoption is clashing with grassroots efforts in El Salvador</a></li>
                    <li><a href="unjust">Unjust Systems Prevail, Social Change is Rare</a></li>
                    <li><a href="bitcoin-spot-etf">Bitcoin Spot ETF? Discussion: Curse Or Blessing?</a></li>
                    </ul>
                </dd>
            </div>
            <div>
                <dt class="font-semibold text-gray-900">Bitcoin in Africa</dt>
                <dd class="mt-1 text-gray-600 prose text-lg">
                 <ul>
                    <li><a href="podcast-transformation-of-value">Can Africa Become Financially Sovereign?</a></li>
                    <li><a href="tando-kenya">Revolutionizing Bitcoin Payments in Kenya</a></li>
                    <li><a href="podcast-why-bitcoin-show">Bitcoin Empowers Zambia and Zimbabwe</a></li>
                     </ul>
                </dd>
            </div>
            <div>
                <dt class="font-semibold text-gray-900">Interviews & Talks</dt>
                <dd class="mt-1 text-gray-600 prose text-lg">
                 <ul>
                     <li><a href="conversation-with-trevor-ncube">Anita on Trevor Ncube's influential Zimbabwean channel</a></li>
                     <li><a href="bitcoin-vs-wallstreet">Cypherpunks vs. Wall Street - Bitcoin's Revolutionary Ethos</a></li>
                     </ul>
                </dd>
            </div>
            <div>
                <dt class="font-semibold text-gray-900">Deutsche Beitr&auml;ge</dt>
                <dd class="mt-1 text-gray-600 prose text-lg">
                 <ul>
                     <li><a href="bitcoin-zahlungen-analyse-2025">Bitcoin als Zahlungsmittel gescheitert?</a></li>
                     <li><a href="Bitcoin-Hype-oder-Wert">Bitcoin - Hype oder langfristiger Wert</a></li>
                      <li><a href="ard-betastories-de">ARD Dokumentation - Bitcoin in Südafrika</a></li>
                     </ul>
                </dd>
            </div>
        </dl>
    </div>
</div>
