<div class="bg-white">
    <section aria-labelledby="features-heading" class="relative">
        <div class="aspect-h-2 aspect-w-3 overflow-hidden sm:aspect-w-5 lg:aspect-none lg:absolute lg:h-full lg:w-1/2 lg:pr-4 xl:pr-16">

            {{ page.media['Anita-Posch-Bitcoin-Workshop.png'].html('Crack The Orange', 'Crack The Orange', 'w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0')|raw }}
        </div>

        <div class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 sm:pb-32 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:pt-32">
            <div class="lg:col-start-2 pl-16">
                <h2 id="features-heading" class="font-medium text-gray-500">Easy to understand</h2>
                <p class="mt-4 text-4xl font-bold tracking-tight text-gray-900">Online Course Program</p>
                <p class="mt-4 text-gray-500">You will understand how Bitcoin works, what its unique properties are and how to use it safely.</p>
                <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
                    <div class="relative">
                        <dt class="inline font-semibold text-gray-900">

                            The (L)earn Bitcoin online course
                        </dt>
                        <dd class="inline"> will give you detailed insights into how Bitcoin works, why it is important, what you need to look after I'm giving you all the tools and knowledge you need to use Bitcoin without relying on authorities to truly achieve financial freedom without the need to be a nerd. </dd>
                    </div>
                    <div class="relative">    
                        <dt class="inline font-semibold text-gray-900">

                            Hands on training
                        </dt>
                        <dd class="inline"> Avoid common mistakes and get the actual power that an uncensorable neutral money gives you a lot faster than you might think is possible right now. </dd>
                    </div>
                    <div class="relative">
                        <dt class="inline font-semibold text-gray-900">
                            
                            Self-paced video lessons
                        </dt>
                        <dd class="inline">you can walk through the course in your own pace, ask questions and test your knowledge during nine quizzes. At the end of the program you will receive a Certificate of Completion.</dd>
                    </div>
                    <div class="max-lg:mt-16 lg:col-span-1">
                        <a href="https://cracktheorange.com" target="_blank" class="flex-none rounded-md bg-blue-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Start your Bitcoin Journey Now</a>
                    </div>
                </dl>
            </div>
        </div>
    </section>
</div>
