<div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="lg:pr-8 lg:pt-4">
                <div class="lg:max-w-lg">
                    <h2 id="features-heading" class="font-medium text-gray-500">Book</h2>
                    <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ page.header.title }}</p>
                    <p class="mt-6 text-lg leading-8 text-gray-600">{{ page.content|raw }}</p>
                    <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
                        <div class="relative">
                            <dt class="inline font-semibold text-gray-900">
                                
                                (L)earn Bitcoin is the best guide
                            </dt>
                            <dd class="inline"> to decide why and how you enter the world of Bitcoin. It presents Bitcoin in all its facets from technical, economical, political and social implications to how it relates to the current monetary landscape. </dd>
                        </div>
                        <div class="relative">
                            <dt class="inline font-semibold text-gray-900">
                                
                                Step-by-step Guide.
                            </dt>
                            <dd class="inline">It provides a step-by-step roadmap to navigate this new financial world and sets you up with concrete recommendations on how to safely acquire, earn and store bitcoin. Ascending the staircase of financial sovereignty will gain you personal freedom and control over your money.</dd>
                        </div>
                         <div class="max-lg:mt-16 lg:col-span-1">
            <h2 class="text-pretty text-2xl font-semibold tracking-tight text-gray-900">Buy the book</h2>
                <p class="mt-6 mb-6 text-base/7 text-gray-600">You can purchase (L)earn Bitcoin on Amazon and other major book stores. The e-book version is available for bitcoin too.</p>
                <a href="https://learnbitcoin.link" class="flex-none rounded-md bg-blue-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Buy the Book Now</a>
               
            </div>
                    </dl>
                </div>
            </div>
            
             {{ page.media['_Learn-Bitcoin-feature-right.png'].html('Anita Posch', 'Anita Posch', 'w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0')|raw }}
        </div>
    </div>
</div>
