<div class="bg-white pt-8 pb-24 sm:py-8">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <div class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-1">
            <div class="relative lg:col-span-3">
                <div class="absolute inset-px rounded-lg bg-white"></div>
                <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]">
                    {{ page.media['_anita-posch-500.jpg'].html('Anita Posch', 'Anita Posch')|raw }}
                    <div class="p-10 pt-4">
                        <h3 class="text-md/4 font-semibold text-gray-500"></h3>
                        <p class="mt-2 text-xl/7 font-semibold tracking-tight text-gray-950"><a href="about" class="inline-block hover:text-gray-500">About Anita Posch</a></p>
                        <p class="mt-2 max-w-lg text-md/8 text-gray-600">Anita Posch is a Change Agent and Freedom Tech advocate, renowned Bitcoin educator, author, founder of the online academy Crack the Orange as well as founder of non-profit initiative Bitcoin for Fairness. Anita's focus is on promoting Freedom Tech like Bitcoin and Nostr, which empower individuals and the civil society in achieving financial freedom, digital privacy, self-sovereignty and protection from governmental and corporate surveillance.</p>
                        <a href="/about" class="inline-block font-semibold mt-4 text-blue-500 hover:text-blue-400">Read more <span aria-hidden="true">&rarr;</span></a>
                    </div>
                </div>
                <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"></div>
            </div>
            <div class="relative lg:col-span-3">
                <div class="absolute inset-px rounded-lg bg-white"></div>
                <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]">
                  
                  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1021723485?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Bitcoin &amp; Human Rights: What 99% Are Getting Wrong | Keynote BTC Prague 2024"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    <div class="p-10 pt-4">
                        <h3 class="text-md/4 font-semibold text-gray-500"></h3>
                        <p class="mt-2 text-xl/7 font-semibold tracking-tight text-gray-950"><a href="bitcoin-and-humanr-rights" class="inline-block hover:text-gray-500">Speaker: Bitcoin & Human Rights</a></p>
                        <p class="mt-2 max-w-lg text-md/8 text-gray-600">I discuss the powerful connection between Bitcoin and human rights, highlighting the misconceptions around Bitcoin. Learn how it empowers people in the Global South, supports freedom of speech, and offers financial inclusion. Watch now to see why Bitcoin is crucial for freedom and a tool for the civil society!</p>
                        <a href="/bitcoin-and-human-rights" class="inline-block font-semibold mt-4 text-blue-500 hover:text-blue-400">Read more <span aria-hidden="true">&rarr;</span></a>
                    </div>
                </div>
                <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"></div>
            </div>
        </div>
    </div>
</div>
