<div class="pt-18">
    <!-- Hero Teaser Section -->
    <section class="relative h-auto md:h-[670px] flex flex-col md:items-center overflow-hidden bg-gray-50 pt-24 md:pt-0">
        <!-- Background Image for md and above -->
        <div class="absolute inset-0 bg-gray-50 hidden md:block">
            <img src="/user/images/Profil-Banner-Home.png"
                 alt="Anita Website"
                 class="w-full h-full object-contain object-center">
        </div>
        
        <!-- Content Container -->
        <div class="relative z-10 w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 bg-gray-50 md:bg-transparent">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-12 items-center md:h-[800px] py-8 md:py-16 lg:py-0">

                <!-- Left Content Area -->
                <div class="space-y-6 lg:space-y-8 order-2 md:order-1 max-w-none md:max-w-md lg:max-w-2xl">
                    <!-- Main Heading -->
                    <h1 class="mt-2 text-pretty text-3xl sm:text-4xl lg:text-5xl font-bold tracking-tight lg:leading-[1.2]">Change Maker & Freedom Tech Advocate</h1>

                    <!-- Description -->
                    <div class="text-gray-800 text-base sm:text-lg lg:text-xl leading-relaxed">
                        <p class="mt-8 text-pretty text-lg font-medium text-gray-400 sm:text-xl/8">Anita focuses on how Bitcoin and decentralized technology provide financial freedom, privacy and human rights for those who need it most. She is the founder of Bitcoin for Fairness and due to her long work on the ground an expert on Bitcoin adoption in Africa.
                        </p>
                    </div>

                    <!-- Call-to-Action Button -->
                    <div class="">
                        <div class="mt-10 flex items-center justify-left gap-x-6 pb-8 md:pb-0">
                            <a href="/#newsletter" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">Subscribe to Anita's Free Newsletter</a>
                            <a href="/about#speaker" class="text-sm/6 font-semibold">Speaker Info <span aria-hidden="true">→</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Mobile Image - normal block element for small screens -->
    <div class="block md:hidden w-full pt-4 pb-4 px-4">
        <div class="flex justify-center">
            <img src="/user/images/Profil-Banner-Home.png"
                 alt="Anita Website"
                 class="w-full -ml-60">
        </div>
    </div>

</div>