<div class="bg-white pt-8 pb-24 sm:py-8">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <div class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-1">
            <div class="relative lg:col-span-3">
                <div class="absolute inset-px rounded-lg bg-white"></div>
                <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]">
                    {{ page.media['_Anita-Posch-hero.jpg'].html('Anita Posch', 'Anita Posch')|raw }}
                    <div class="p-10 pt-4">
                        <h3 class="text-md/4 font-semibold text-gray-500">About me</h3>
                        <p class="mt-2 text-xl/7 font-semibold tracking-tight text-gray-950"><a href="about" class="inline-block hover:text-gray-500">Welcome, I'm Anita!</a></p>
                        <p class="mt-2 max-w-lg text-md/8 text-gray-600">I'm a strategic Bitcoin adviser, author and founder of <a href="https://bffbtc.org" class="text-blue-500 hover:text-blue-400">Bitcoin for Fairness</a>. I have been traveling to Zambia, Zimbabwe, Kenya, South Africa, Ghana, Botswana, Namibia, Indonesia, El Salvador, Mexico, USA, ... as a digital nomad to learn about how Bitcoin's use cases are different in each region and how Bitcoin education is shared in the best way. Since 2017 I have been speaking on the biggest and the smallest stages to bring Bitcoin knowledge to thousands of people.</p>
                        <a href="/about" class="inline-block font-semibold mt-4 text-blue-500 hover:text-blue-400">Read more <span aria-hidden="true">&rarr;</span></a>
                    </div>
                </div>
                <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"></div>
            </div>
            <div class="relative lg:col-span-3">
                <div class="absolute inset-px rounded-lg bg-white"></div>
                <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]">
                  {{ page.media['_Bitcoin-Human-Rights.jpg'].html('Bitcoin and Human Rights a talk by Anita Posch', 'Anita Posch')|raw }}
                    <div class="p-10 pt-4">
                        <h3 class="text-md/4 font-semibold text-gray-500">Speaking</h3>
                        <p class="mt-2 text-xl/7 font-semibold tracking-tight text-gray-950"><a href="bitcoin-africa-keynote-prague" class="inline-block hover:text-gray-500">Bitcoin & Human Rights: What 99% Are Getting Wrong</a></p>
                        <p class="mt-2 max-w-lg text-md/8 text-gray-600">I discuss the powerful connection between Bitcoin and human rights, highlighting the misconceptions around Bitcoin. Learn how it empowers people in the Global South, supports freedom of speech, and offers financial inclusion. Watch now to see why Bitcoin is crucial for freedom and a tool for the civil society!</p>
                        <a href="/bitcoin-and-human-rights" class="inline-block font-semibold mt-4 text-blue-500 hover:text-blue-400">Read more <span aria-hidden="true">&rarr;</span></a>
                    </div>
                </div>
                <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"></div>
            </div>
        </div>
    </div>
</div>
